# Environment configuration for API Gateway
NODE_ENV=development

# Connection
HTTP_PORT=4004

# gRPC Microservices
MENU_MICROSERVICE_GRPC_URL=0.0.0.0:5001
USER_MICROSERVICE_GRPC_URL=0.0.0.0:5002
MEDIA_MICROSERVICE_GRPC_URL=0.0.0.0:5003
STORE_MICROSERVICE_GRPC_URL=0.0.0.0:5004

# Cookie
COOKIE_SECRET=your_cookie_secret_key_here
COOKIE_DOMAIN=localhost
COOKIE_TTL=604800 # 7 days in seconds

# JWT
JWT_ACCESS_SECRET=your_jwt_access_secret_key

# Rabbit MQ
RABBITMQ_URL=your_rabbitmq_url_here
RABBITMQ_QUEUE=your_rabbitmq_queue_here

# CORS
CORS_ORIGIN=your_cors_origin_here
CORS_METHODS=your_cors_methods_here

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_OAUTH_STATE_SECRET=your_google_oauth_state_secret_here

# Backend URL
BACKEND_URL=your_backend_url_here

# Frontend URL
FRONTEND_URL=http://localhost:3000
